body {
    padding: 15px;
}

a {
    text-decoration: none;
}

form .row {
    margin: 5px 0;
}

form .row .errors {
    margin: 0;
}

form .row label {
    display: inline-block;
    min-width: 50px;
    font-weight: bold;
}

form .row input {
    display: inline-block;
    min-width: 150px;
}

form input[type=submit], table tr {
    cursor: pointer;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid grey;
}

table tr > td, table tr th {
    padding: 3px;
    text-align: center;
}

table tbody tr:hover {
    background-color: bisque;
}

table thead tr {
    background-color: brown;
    color: white;
}

.page-part {
    display: inline-block;
    float: left;
    min-width: 49%;
    max-width: 49%;
    margin-right: 1%;
}

dt {
    font-weight: bold;
}